[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu113"
verify_ssl = true
name = "torch113"

[[source]]
url = "https://download.pytorch.org/whl/cu117"
verify_ssl = true
name = "torch117"

[packages]
requests = "*"
torch= {version="==1.13.1", index="pypi"}
torchvision={version="==0.14.1", index="pypi"}
telethon = "==1.16.1"
loguru = ">=0.6.0"
python-environ = ">=0.4.54"
pytesseract = "==0.3.10"
clip-interrogator= "==0.4.1"
fire = "*"
fuzzysearch = "*"

[requires]
python_version = "3.10"
