[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cython = "*"
fire = "*"
fuzzysearch = "*"
loguru = "*"
minio = "*"
more-itertools = "*"
pycocotools = "*"
pydantic = "*"
tesseract-ocr = "*"
pytesseract = "*"
python-environ = "*"
python-telegram-bot = "*"
redis = "*"
requests = "*"
clip-interrogator = "*"
easyocr = "*"
telethon = "*"
urllib3 = "*"
sqlalchemy = "*"
boto3 = "*"
psycopg2-binary = "*"
pyenchant = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.10"
