[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu113"
verify_ssl = true
name = "torch"

[packages]
requests = "*"
torch="==1.13.1+cu117"
torchvision="==0.14.1+cu117"
telethon = "==1.16.1"
loguru = ">=0.6.0"
python-environ = ">=0.4.54"
pytesseract = "==0.3.10"

[requires]
python_version = "3.10"
