cython
fire
fuzzysearch
loguru
minio
more-itertools
pycocotools
pydantic
tesseract-ocr
pytesseract
python-environ
python-telegram-bot
redis
requests
clip-interrogator
easyocr
telethon
urllib3
sqlalchemy
boto3
psycopg2
pyenchant